/*
The MIT License

Copyright 2016, Juliano Macedo.
See LICENSE file for details.

*/
/* 
    Created on : Aug 1, 2016, 2:55:40 PM
    Author     : Juliano Macedo
*/

@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,700);

body{
    font-family:                'Roboto', sans-serif;
    color:                      #fff;
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale;
}

/**
 * ------------   header style   ------------
 */

.section-style{
    width:    100%;
    display:  inline;
    padding:  1%;
}

.site-description{
    font-weight:    700;
    text-transform: uppercase;
}

.site-coming-soon{
    text-transform: uppercase;
    font-weight:   300;
    line-height:    30px;
}

.site-title{
    font-size:      66px;
    font-family:    'Pacifico';
    margin:         0 0 50px 0;
    padding-bottom: 50px;
    position:       relative;
}
.site-title:before,
.site-title:after{
    content:        "";
    width:          100px;
    height:         10px;
    left:           50%;
    margin-left:    -50px;
    border-bottom:  1px double #fff;
    position:       absolute;
}
.site-title:before{
    bottom: 0;
}
.site-title:after{
    bottom: 2px;
}

/**
 * ------------   Content style   ------------
 */

/* Override default MDL padding */
.mdl-grid{
    padding: inherit;
}

.section-form-subscribe{
    min-width: available;
    text-align: center;
    position:   absolute;
    bottom:     2%;
}


.space{
    padding-top: 2%;
}

.flip-clock, 
.flip-clock-wrapper{
    justify-content: space-around;
}

.mdl-button{
    font-weight: bold;
}

#maincontent{
    position:   absolute;
    left:       50%;
    top:        50%;
    transform:  translate(-50%, -50%);
    text-align: center;
}

.justify-space-around{
    justify-content: space-around;
}

.form-style{
    background-color:   #fff;
    color:              #212121; 
    padding:            5%;
}


/**
 * ------------   Footer style   ------------
 */